/bitrix
/upload
!/local/php_interface/migrations
!/local/php_interface/migrations/*
!/local/php_interface/migrations/*.xml
!/local/php_interface/migrations/*/*.xml
/local/imports/
/local/logs/

/*/*/robots.txt
/*/robots.txt
/*/*.html
/urlrewrite.php
/main.config

**/robots.txt
**/sitemap*.xml
**/google*.html
**/yandex*.txt
**/yandex*.html

/.idea
/.idea/*
etmp/
.idea
/web.config
*.htaccess
/.htsecure
/*.txt
/*.html
~*.php
*.log
*.xml
/*.sql
*.zip
/*.htm
*.rar
*.lock
*.tar*
Thumbs.db
.DS_Store
._.DS_Store
/test
*.access.php
storage.php

adminer*.php

/local/vendor
/local/composer.phar
!/local/composer.lock
